/* styles.css */
/* base */
@import "./base/reset.css";
@import "./base/variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";

/* Screens */
@import "./src/login.css";


@media screen and (max-width: 420px){
   #wrap{
      width: 100%;
      min-width: 300px;
      height: 100%;
   }
} 

@media screen and (min-width:420px){
   #wrap{
      width: 420px;
      height: 100%;
   }
}