/* styles.css */
/* base */
@import "./base/reset.css";
@import "./base/variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/alt-screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/icon-rows.css";

/* Screens */
@import "./src/login.css";
@import "./src/friends.css";
@import "./src/find.css";
@import "./src/more.css";
@import "./src/settings.css";
@import "./src/chatscreen.css";

#wrap{
   box-shadow:1px 1px 4px rgba(0,0,0,0.2);
}

@media screen and (max-width: 420px){
   #wrap{
      width: 100%;
      min-width: 380px;
      height: 100%;
   }
} 

@media screen and (min-width:420px){
   #wrap{
      width: 420px;
      height: 100%;
   }
}

.main-screen{
   padding: 0 var(--horizontal-S);
}