
.welcome-header {
   display: flex;
   flex-direction:column;
   align-items: center;
   margin:10% 0;
   text-align:center;
}


.welcome_header__title {
   margin-bottom:20px;
   font-size:20px;
}


.welcome-header__text {
   width: 70%;
   opacity:0.7;
   font-size:14px;
}


/* form part */

#login-form{
   display: flex;
   flex-direction: column;
   margin:0 30px;
}

#login-form input, #login-form button{
   padding:10px 0;
   border:0;
   margin-bottom:20px;
   font-size:16px;
}

#login-form input:not([type="submit"]){
   border-bottom: 1px solid rgba(0,0,0,0.2);
   background-color: transparent;
   transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder{
   color: var(--grey-text);
}

#login-form input:not([type="submit"]):focus{
   border-color: var(--mainC);
}

#login-form input[type="submit"],#login-form button{
   font-size: 14px;
   color: #fff;
   background-color: var(--mainC);
   border-radius:5px;
   transition: background-color 0.3s ease-in-out;
}

#login-form input[type="submit"]:hover,#login-form button:hover{
   background-color: var(--mainB);
   color:#333;
   font-weight:bold;
}

#login-form p {
   text-align:center;
   font-size:12px;
   color:inherit;
}
