/* user-component.css */

.user-component,
.user-component__column:first-child{
   display: flex;
   align-items: center;
}

.user-component{
   justify-content: space-between;
   margin-bottom:var(--horizontal-S);
}

.user-component__chats{
   padding-bottom:10px;
   border-bottom: var(--main-border);
}

.user-component__chats:last-child {
   border:none;
}

.user-component__avatar{
   width:70px;
   height:70px;
   border-radius: 25px;
   margin-right: 20px;
   background-image: url(https://images.unsplash.com/photo-1587402092301-725e37c70fd8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
   background-size: cover;
   background-position: 50% 0;
}

.user-component__avatar--xl{
   width:80px;
   height:80px;
}

.user-component__avatar--xs{
   width:50px;
   height:50px;
   border-radius:16px;
}

.user-component__title--not-bold{
   font-weight:normal;
   font-size: 14px;
}

.user-component__subtitle{
   color: var(--grey-text);
}

.user-component__subtitle i {
   color: #c0392b;
}

/* user-component:last-child */
.user-component__column:last-child{
   font-size:12px;
   color:var(--grey-text);
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.user-component__column:last-child span{
   margin-right:3px;
}

.user-component__time{
   display: block;
   margin-bottom:10px;
}

.component-icon__black{
   color :#000;
}